.container{
    background-color: rgb(104, 133, 123);
    height: 100vh;
}


.title{
    background-color: rgb(184, 243, 223);
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    padding: 10px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}